.reassurance {
    @apply flex flex-col gap-6 p-6 flex-1;
}

.reassurance  h2 {
    @apply text-3xl;
}

.reassurance div {
    display:grid;
    row-gap: 0.5rem/* 8px */;
    column-gap: 1.5rem/* 24px */;
    grid-template-columns: minmax(0, 1fr); /*This is the one not working for reasons*/
    grid-template-rows: repeat(3, minmax(0, 1fr));
    align-items: center;

    /* @apply grid gap-y-2 gap-x-6 w-full grid-cols-1 sm:grid-cols-[60px_1fr] grid-rows-3 sm:grid-rows-[auto_auto] items-center; */
}

.reassurance img {
    @apply w-[60px] row-span-1 sm:col-span-1 sm:row-span-2;   
}

@media (min-width: 640px)  {
    .reassurance p, .reassurance h1 {
        grid-column: 2;
    }
    .reassurance div {
        grid-template-columns: 60px 1fr;
        grid-template-rows: auto auto;
    }

    .reassurance h1 {    
        grid-row: 1;
    }
    
    .reassurance p {
        grid-row: 2;
    }
}

